#sample app
/MetricsApi
/customtiles
# /hellojni
hellojni/app/build/
/plugintemplate
/sensortester
/windconsumer
/PluginTemplateLegacy
/dsmmanager
# /helloworld
helloworld/app/build/
/plugintemplate-compose  smsservice
/windprovider
/action-bar-demo
/externalbt
/importexportexample
/radialmenudemo
/videocollections
/commout-simplesocket
/hello3d
/lassotoolexpansiondemo  sampledetailtester
/videomosaic
/cotinjector
/hellobuildings
/platformsim
/selfmarkerdata
/videooverlay
/lassotoolexpansiondemo
/plugintemplate-compose
/sampledetailtester
/smsservice
*/build/
